<!DOCTYPE html>
<html>
<head>
    <title>销售订单明细新增</title>
    {% include 'admin/common/header.html' %}</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item">
              <label class="layui-form-label">物料名称</label>
              <div class="layui-input-block">
                <input type="text" name="materialName" id="materialName" class="layui-input" lay-verify="required"
                 style="position:absolute;z-index:2;width:90%;" value="" autocomplete="off" placeholder="请输入物料名称">
                 <select id="materials" placeholder="请输入名称搜索" name="materials"  lay-filter="materials" >
                    <option value="">请输入名称搜索</option>
                </select>
              </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数量</label>
                <div class="layui-input-block">
                    <input type="text" name="qty" lay-verify="required" autocomplete="off" placeholder="请输入数量"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入备注" name="remark" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="selldetail-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
{% include 'admin/common/footer.html' %}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
<script>
    // 用于缓存下拉获取的数据
    let dropData
    let currentValue = -1

    // 渲染下拉框的数据
    function innitSelect(name,data){
        let html=''
        if(data&&data instanceof Array){
          data.forEach(item=>{
            html+="<option value="+item.value+">"+item.text+"</option>"
          })
        };
        $(name).html(html)
    }

    function getData(){
        return new Promise(resolve=>{
            $.ajax({
                url: '/bus/material/data?queryStr=' + $("#materialName").val(),
                data: {},
                dataType: 'json',
                contentType: 'application/json',
                type: 'get',
                success: function (result) {
                    let arr=[]
                    for(let i=0;i<result.data.length;i++){
                        let obj={}
                        obj.value=result.data[i].id
                        obj.text=result.data[i].MaterialName
                        arr.push(obj)
                    }
                    resolve(arr)
                }
            })
        })
    }

    $("#materialName").on("input propertychange",async function(e){
        // 模拟请求获取下拉菜单所需的参数
        dropData = await getData()
        console.log("下拉菜单的数据：",dropData)
        // 将获取回来的数据渲染给下拉菜单
        innitSelect("#materials",dropData)
        let form = layui.form;
        form.render()
        // 将下拉框展开
        $(".layui-form-select").addClass("layui-form-selected")
    });

  layui.use(['form', 'jquery'], function () {
    let form = layui.form
    let jquery = layui.jquery

    form.on('submit(selldetail-save)', function (data) {
      data.field.orderid={{orderid}}
      $.ajax({
        url: '/admin/sell/detail/save',
        data: JSON.stringify(data.field),
        dataType: 'json',
        contentType: 'application/json',
        type: 'post',
        success: function (result) {
          if (result.success) {
            layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
              parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
              parent.layui.table.reload('sellDetail-table')
            })
          } else {
            layer.msg(result.msg, { icon: 2, time: 1000 })
          }
        }
      })
      return false
    })

    form.on("select(materials)",function(data){
        let value=data.value
          let selectObj=dropData.filter(item=>{
            return item.value==value
          })
        $("#materialName").val(selectObj[0].text);
        })
  })
</script>
</body>
</html>