<!DOCTYPE html>
<html>
<head>
    <title>联系人编辑</title>
    {% include 'admin/common/header.html' %}</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">编号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ contact.id }}" name="contactId" lay-verify="title"
                               autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ contact.name }}" name="name" lay-verify="title"
                               autocomplete="off" placeholder="请输入名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">别名</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ contact.shortname }}" name="shortname" lay-verify="title"
                               autocomplete="off" placeholder="请输入别名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">地址</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ contact.address }}" name="address" lay-verify="title"
                               autocomplete="off" placeholder="请输入地址" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">税号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ contact.taxid }}" name="taxid" lay-verify="title"
                               autocomplete="off" placeholder="请输入税号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系人</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ contact.contacter }}" name="contacter" lay-verify="title"
                               autocomplete="off" placeholder="请输入联系人" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ contact.phone }}" name="phone" lay-verify="title"
                               autocomplete="off" placeholder="请输入电话" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ contact.email }}" name="email" lay-verify="title"
                               autocomplete="off" placeholder="请输入邮箱" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">网站</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ contact.website }}" name="website" lay-verify="title"
                               autocomplete="off" placeholder="请输入网站" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">关系</label>
                    <div class="layui-input-block">
                        <input type="radio" lay-filter="powerType" {% if contact.relation == "0" %} checked{% endif %}
                               name="relation" value="0" title="供应商">
                        <input type="radio" lay-filter="powerType"  {% if contact.relation == "1" %} checked{% endif %}
                               name="relation" value="1" title="客户">
                        <input type="radio" lay-filter="powerType"  {% if contact.relation == "2" %} checked{% endif %}
                               name="relation" value="2" title="其他">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入备注" name="remark"
                                  class="layui-textarea">{{ contact.remark }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="contact-update">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
{% include 'admin/common/footer.html' %}
<script>
  layui.use(['form', 'jquery'], function () {
    let form = layui.form
    let $ = layui.jquery

    form.on('submit(contact-update)', function (data) {
      $.ajax({
        url: '/bus/contact/update',
        data: JSON.stringify(data.field),
        dataType: 'json',
        contentType: 'application/json',
        type: 'put',
        success: function (result) {
          if (result.success) {
            layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
              parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
              parent.layui.table.reload('contact-table')
            })
          } else {
            layer.msg(result.msg, { icon: 2, time: 1000 })
          }
        }
      })
      return false
    })
  })
</script>
<script>
</script>
</body>
</html>