<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>物料编辑</title>
    {% include 'admin/common/header.html' %}
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">编号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ material.id }}" name="id" lay-verify="title"
                               autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ material.name }}" name="name" lay-verify="title"
                               autocomplete="off" placeholder="请输入名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">说明</label>
                    <div class="layui-input-block">
                        <input type="text"  value="{{ material.detail }}"  name="detail" lay-verify="title" autocomplete="off" placeholder="请输入说明"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">分类</label>
                    <div class="layui-input-block">
                        <ul id="materialcategory" name="category" class="dtree" data-id="0"></ul>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">条码</label>
                    <div class="layui-input-block">
                        <input type="text"  value="{{ material.barcode }}" name="barcode" lay-verify="title" autocomplete="off" placeholder="请输入条码"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">成本</label>
                    <div class="layui-input-block">
                        <input type="text"  value="{{ material.cost }}" name="cost" lay-verify="title" autocomplete="off" placeholder="请输入成本"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">价格</label>
                    <div class="layui-input-block">
                        <input type="text"  value="{{ material.price }}" name="price" lay-verify="title" autocomplete="off" placeholder="请输入价格"
                               class="layui-input">
                    </div>
                </div>
                 <div class="layui-form-item">
                    <label class="layui-form-label">单位</label>
                    <div class="layui-input-block">
                        <input type="text"  value="{{ material.unit }}" name="unit" lay-verify="title" autocomplete="off" placeholder="请输入单位"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">最低库存</label>
                    <div class="layui-input-block">
                        <input type="text"  value="{{ material.threshold }}" name="threshold" lay-verify="title" autocomplete="off" placeholder="请输入最低库存"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">供应商</label>
                    <div class="layui-input-block">
                        <input type="text"  value="{{ material.vendor }}" name="vendor" lay-verify="title" autocomplete="off" placeholder="请输入供应商"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">制造商</label>
                    <div class="layui-input-block">
                        <input type="text"  value="{{ material.manufacturer }}" name="manufacturer" lay-verify="title" autocomplete="off" placeholder="请输入制造商"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">最小包装数量</label>
                    <div class="layui-input-block">
                        <input type="text"  value="{{ material.mpq }}" name="mpq" lay-verify="title" autocomplete="off" placeholder="请输入最小包装数量"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">最小起订量</label>
                    <div class="layui-input-block">
                        <input type="text"  value="{{ material.moq }}" name="moq" lay-verify="title" autocomplete="off" placeholder="请输入最小起订量"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">真实物料</label>
                    <div class="layui-input-block">
                        <input type="radio" name="virtual" {% if material.virtual == 1 %}checked {% endif %} value="1"
                               title="是">
                        <input type="radio" name="virtual" {% if material.virtual == 0 %}checked {% endif %} value="0"
                               title="否">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">重点关注</label>
                    <div class="layui-input-block">
                        <input type="radio" name="highlight" {% if material.highlight == 1 %}checked {% endif %} value="1"
                               title="是">
                        <input type="radio" name="highlight" {% if material.highlight == 0 %}checked {% endif %} value="0"
                               title="否">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="material-update">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
{% include 'admin/common/footer.html' %}
<script>
  layui.use(['form', 'jquery', 'dtree'], function () {
    let form = layui.form
    let $ = layui.jquery
    let dtree = layui.dtree

     dtree.renderSelect({
      elem: '#materialcategory',
      url: '/bus/materialcategory/tree',
      method: 'get',
      selectInputName: { nodeId: 'category', context: 'code' },
      skin: 'layui',
      dataFormat: 'list',
      response: { treeId: 'id', parentId: 'parent', title: 'code' },
      selectInitVal: "{{ material.category }}"
    })

    form.on('submit(material-update)', function (data) {
      $.ajax({
        url: '/bus/material/update',
        data: JSON.stringify(data.field),
        dataType: 'json',
        contentType: 'application/json',
        type: 'put',
        success: function (result) {
          if (result.success) {
            layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
              parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
              parent.layui.table.reload('material-table')
            })
          } else {
            layer.msg(result.msg, { icon: 2, time: 1000 })
          }
        }
      })
      return false
    })
  })
</script>
</body>
</html>